.envelopeCard {
  margin:18px;
  min-width: 29%;
  max-width:29%;
  height:140px;
  position: relative;
}

.rotateLeft {
  transform: rotate(1deg);
}

.rotateRight {
  transform: rotate(-1deg);
}

.stamp {
  width:36px;
  height:40px;
  line-height: 40px;
  background-color:rgb(73,132,180);
  font-style:bold;
  right:0;
  top:0;
  margin-right:10px;
  margin-top:10px;
  position:absolute;
  color:white;
  text-align:center;
  justify-content:center;
  vertical-align:center;
  outline-style:dotted;
  outline-color:rgb(73,132,180);
  outline-width:2px;
}

.unread {
  background-color:white !important;
}

.read {
  background-color:#999 !important; 
}

.envelopeIcon {
  width:100px;
  height:100px;
  float:left;
}

.letterStatus {
  font-style:italic;
  position:absolute;
  padding-top:6px;
  padding-left:26px;
  color:green;
}

.newBadge {
  color:green;
  font-style:italic;
}

.letterSenderInfo {
  margin-top:auto;
  margin-bottom:auto;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  height:100px;
  display: flex;
  justify-content: flex-start;
  padding:8px !important;
}

.letterSentDate {
  position:absolute;
  bottom:1px;
  margin-bottom:4px;
  color:#555;
}

.letterSenderInfo p:nth-of-type(1) {
  margin-top:0px !important;
}

.letterSenderInfoFront {
  width:95%;
}

.letterSenderInfoBack {
  height:100%;
  align-items:center; /* letter needs this to be centered */
  padding:0 !important;
}

.letterSenderInfoBack p {
  font-size:1.1rem !important;
  color:#333;
  text-align:left;
  margin:0px !important;
  padding-left:5px;
}

.letterSenderInfoBack p:nth-of-type(2) {
  margin-bottom:5px !important;
}

.messagePreview {
  padding:10px !important;
  height:60px;
}

.hide {
  display: none !important;
}

.show {
  display: visible !important;
}

.messagePreview p {
  height:100%;
  overflow-y:hidden;
  overflow-x:hidden;
  text-overflow:ellipsis;
  color:#333;
  font-style:italic;
  font-size:1.0rem !important;
  line-height:16px;
  margin:0 !important;
  text-align:left;
  word-break:normal;
  vertical-align:top;
  white-space:nowrap;
}

.inboxLetterInfo {
  text-align:center;
  height:52px !important;
  background:transparent !important;
}

.inboxLetterFrom {
  width:96%;
  word-wrap:break-word;
}

.inboxLetterFromOnFront p {
  font-size:1.1rem;
}

.inboxLetterFromOnBack p {
  font-size:1.0rem !important;
}

.inboxLetter {
  width:80%;
}

.inboxLetter img {
  display:block;
  height:100%;
  object-fit:contain;
}

.letterItemShadow {
  box-shadow: -5px 5px 10px 0px gray, 
               5px 5px 10px 0px gray;
}

/* Lines and shapes that make up the "back" of the envelope */
.letterMessagePreview {
  position:absolute;
  background-color:white;
  word-wrap:break-word;
  text-align:left;
  padding:5px;
  font-size:1.3rem;
  line-height:20px;
  color:#aaa;
  height:92%;
  width:60%;
  top:5px;
  z-index:1; /* so it draws under the photo if photo is there */
}

.letterPhotoPreview {
  background: pink; /* linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,76,1) 35%, rgba(0,212,255,1) 100%); */
  background-image:url('../../../../../../icons/media-attached.png');
  background-size: cover;
  position: absolute;
  top:20px;
  right:90px;
  height:80px;
  width:80px;
  padding:5px;
  border:3px solid white;
  z-index:2; /* draw over the paper, if the paper is there */
}

.letterVideoPreview {
  background:#15344d;
  background-image:url('../../../../../../icons/video-attached.png');
  background-size: cover;
}

.envelopeBackShape {
  width:100%;
  height:100%;
  background:  /* first one is the "mask" that hides the line from the last ones */
      linear-gradient(to top right,
          rgba(190,190,190) 50%,
          rgba(0,0,0,0) calc(50% - 2px),
          rgba(0,0,0,0) 50%,
          rgba(0,0,0,0) calc(50% + 2px),
          rgba(0,0,0,0) 100%),
      linear-gradient(to top left,
          rgb(190, 190, 190) 50%,
          rgba(0,0,0,0) calc(50% - 2px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 2px),
          rgba(0,0,0,0) 100%),
      linear-gradient(to top right,
          rgba(190,190,190) 50%,
          rgba(0,0,0,0) calc(50% - 2px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 2px),
          rgba(0,0,0,0) 100%);
  z-index:3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width:1000px) {
  .envelopeCard {
    min-width:40%;
    max-width: 50%;
  }
}

@media screen and (max-width:740px) {
  .envelopeCard {
    margin:10px;
    margin-left:auto;
    margin-right:auto;
    min-width: 60%;
    max-width: 80%;
  }

  .inboxLongName {
    font-size:0.9rem;
  }
}

@media screen and (max-width:500px) {
  .envelopeCard {
    margin-left:auto;
    margin-right:auto;
    min-width: 90%;
    max-width: 96%;
  }
}

@media screen and (max-width:300px) {

  .inboxLongName {
    height:20px;
    overflow-y:hidden;
    word-break:break-all;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}