.headerBar {
  text-decoration: none;
  list-style-type: none;
  height:64px;
}

.appTitle a {
  color:#fff;
  font-family:'Pacifico';
  font-size:1.8rem;
  margin-left:10px;
}

.nav {
  flex-grow:1;
}

.nav ul {
  justify-content: flex-end;
  display: flex;
  align-items:center;
}

.nav li {
  margin-right: 30px;
  display:inline-block;
}

@media screen and (max-width:800px) {
  .appTitle a {
    font-size:1.2rem;
    margin-left:4px;
    white-space:nowrap;
  }
}