.headerBar {
  text-decoration: none;
  list-style-type: none;
  height:64px;
}

.appTitle a {
  color:#fff;
  font-family:'Pacifico';
  font-size:2.0rem;
  margin-left:10px;
}

.nav {
  flex-grow:1;
}

.nav ul {
  justify-content: flex-end;
  display: flex;
}

.nav li {
  margin-right: 30px;
  display:inline-block;
}