.olderLettersButton {
  color:white !important;
  height:80px;
  width:300px;
  font-size:1.4rem !important;
  border:1px solid red;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.inboxBox {
  height:calc(70vh - 50px);
  border-radius:10px;
  background:#16344d;
}

.inboxGridList {
  padding:20px !important;
  height:100%;
  width:100%;
  align-items:flex-start;
  align-content:flex-start;
  justify-items:center;
  justify-content:center;
  flex-wrap:wrap;
  overflow-y:hidden;
}

.noInboxMargin.MuiGrid-item {
  margin-top:0px !important;
}

@media screen and (max-width:830px) {
  .inboxGridList {
    padding:2px !important;
  }

  .inboxBox {
    border-radius:0%;
    width:100%;
  }
}