.photo {
    margin: 10px !important;
    width:96%;
    max-width: 95%;
    object-fit:contain;
    max-height:400px;
    height:auto;
}

.postStyle {
    height: 100%;
    width: 50%;
    margin: auto;
}

.emojiReply {
    margin: 5px;
    height: 7%;
    width: 7%;
}

.replyCard {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.replyContent {
    display: flex;
    flex: 1 0 auto;
}
.replyActions {
    justify-content: space-between;
}

.padLeft {
    padding-left:8px;
}

@media screen and (max-width:800px) {
    .postStyle {
        width: 100%;
        margin: 6px;
    }

    .emojiReply {
        margin: 5px;
        height: 12%;
        width: 12%;
    }
}