.photo {
    margin: 10px !important;
    width:96%;
    max-width: 95%;
    object-fit:contain;
    max-height:400px;
    height:auto;
}
.replyCard {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.replyContent {
    display: flex;
    flex: 1 0 auto;
}
.replyActions {
    justify-content: space-between;
}

.padLeft {
    padding-left:8px;
}