.photo {
    margin: 10px !important;
    max-width: 95%;
}
.replyCard {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.replyContent {
    display: flex;
    flex: 1 0 auto;
}
.replyActions {
    justify-content: space-between;
}