.modalWrap {
  padding-left:40px;
  padding-right:40px;
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
}

.extendedInboxModalContent {
  width:70%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding:20px;
  background-color: white;
  box-shadow: -5px 5px 10px 0px #333, 
  5px 5px 10px 0px #333;
  overflow-y:hidden;
}

.unlockPremium {
  width:100%;
  text-align:center;
}

@media screen and (max-width:830px) {
  .extendedInboxModalContent {
    width:86%;
  }

  .modalWrap {
    padding-left:6px;
    padding-right:6px;
  }
}